section.about-section.section.section_py
    .about-section__container.container 
        .about-section__wrapper
            .about-section__content 
                h2.about-section__paragraph работаем в соответствии с #[span(style="background-image: url(./images/line_01.svg)") международными стандартами] и являемся #[span(style="background-image: url(./images/line_02.svg)") всемирно признанным] #[span(style="background-image: url(./images/line_03.svg)") поставщиком медицинских услуг]
                .about-section__desc 
                    p 
                        | Наша компания сотрудничает с опытными и опытными специалистами в области здравоохранения. 
                        | Мы гордимся тем, что помогаем нашим пациентам восстановить здоровье и жить лучше, предлагая решения, соответствующие их потребностям.
                a.about-section__more(href="#")
                    span Читать подробнее 
                    svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                        rect(x='0.5' y='0.5' width='27' height='27' rx='13.5' stroke='currentColor' stroke-opacity='0.2')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M19.7708 8.22922C20.0764 8.53485 20.0764 9.03037 19.7708 9.336L9.336 19.7708C9.03037 20.0764 8.53485 20.0764 8.22922 19.7708C7.92359 19.4652 7.92359 18.9696 8.22922 18.664L18.664 8.22922C18.9696 7.92359 19.4652 7.92359 19.7708 8.22922Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M9 8.78571C9 8.35178 9.35178 8 9.78571 8H19.2143C19.6482 8 20 8.35178 20 8.78571V18.2143C20 18.6482 19.6482 19 19.2143 19C18.7803 19 18.4286 18.6482 18.4286 18.2143V9.57143H9.78571C9.35178 9.57143 9 9.21965 9 8.78571Z' fill='currentColor')
            .about-section__img 
                img.doctor(src="./images/about.png", alt="")
                //- svg(xmlns='http://www.w3.org/2000/svg' width='453' height='446' viewBox='0 0 453 446' fill='none')
                //-     path(d='M226.5 446C220.46 446 215.93 444.513 212.91 441.54C209.89 437.972 208.38 433.215 208.38 427.268V424.592C208.38 321.631 123.603 238.164 19.026 238.164C18.731 238.164 18.4389 238.16 18.1497 238.153C8.41978 237.915 0 229.907 0 220.324C0 214.972 1.51 210.809 4.53 207.836C8.154 204.863 12.986 203.376 19.026 203.376C122.603 203.376 208.38 120.708 208.38 18.732C208.38 12.7854 209.89 8.32537 212.91 5.35204C215.93 1.78401 220.46 0 226.5 0C232.54 0 237.07 1.78401 240.09 5.35204C243.11 8.32537 244.62 12.7854 244.62 18.732C244.62 120.708 330.397 203.376 433.974 203.376C440.014 203.376 444.544 204.863 447.564 207.836C451.188 210.809 453 214.972 453 220.324C453 226.271 451.188 230.731 447.564 233.704C444.544 236.677 440.014 238.164 433.974 238.164C329.397 238.164 244.62 321.631 244.62 424.592V427.268C244.62 433.215 243.11 437.972 240.09 441.54C237.07 444.513 232.54 446 226.5 446Z' fill='currentColor')

                //- 336 75 77