section.about-section.section.section_py
    .about-section__container.container 
        .about-section__wrapper
            .about-section__content 
                h3.about-section__paragraph работаем в соответствии с #[span(style="background-image: url(./images/line_01.svg)") международными стандартами] и являемся #[span(style="background-image: url(./images/line_02.svg)") всемирно признанным] #[span(style="background-image: url(./images/line_03.svg)") поставщиком медицинских услуг]
                .about-section__desc 
                    p 
                        | Наша компания сотрудничает с опытными и опытными специалистами в области здравоохранения. 
                        | Мы гордимся тем, что помогаем нашим пациентам восстановить здоровье и жить лучше, предлагая решения, соответствующие их потребностям.
                a.about-section__more(href="#")
                    span Читать подробнее 
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M8.26884 3.49217C9.45176 3.00219 10.7196 2.75 12 2.75C14.5859 2.75 17.0658 3.77723 18.8943 5.60571C20.7228 7.43419 21.75 9.91414 21.75 12.5C21.75 15.0859 20.7228 17.5658 18.8943 19.3943C17.0658 21.2228 14.5859 22.25 12 22.25C10.7196 22.25 9.45176 21.9978 8.26884 21.5078C7.08591 21.0178 6.01108 20.2997 5.10571 19.3943C4.20034 18.4889 3.48216 17.4141 2.99217 16.2312C2.50219 15.0482 2.25 13.7804 2.25 12.5C2.25 11.2196 2.50219 9.95176 2.99217 8.76884C3.48216 7.58591 4.20034 6.51108 5.10571 5.60571C6.01108 4.70034 7.08591 3.98216 8.26884 3.49217ZM12 4.25C10.9166 4.25 9.8438 4.46339 8.84286 4.87799C7.84193 5.2926 6.93245 5.90029 6.16637 6.66637C5.40029 7.43245 4.7926 8.34193 4.37799 9.34286C3.96339 10.3438 3.75 11.4166 3.75 12.5C3.75 13.5834 3.96339 14.6562 4.37799 15.6571C4.7926 16.6581 5.40029 17.5675 6.16637 18.3336C6.93245 19.0997 7.84193 19.7074 8.84286 20.122C9.8438 20.5366 10.9166 20.75 12 20.75C14.188 20.75 16.2865 19.8808 17.8336 18.3336C19.3808 16.7865 20.25 14.688 20.25 12.5C20.25 10.312 19.3808 8.21354 17.8336 6.66637C16.2865 5.11919 14.188 4.25 12 4.25Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 7.96967C11.7626 7.67678 12.2374 7.67678 12.5303 7.96967L16.5303 11.9697C16.8232 12.2626 16.8232 12.7374 16.5303 13.0303C16.2374 13.3232 15.7626 13.3232 15.4697 13.0303L11.4697 9.03033C11.1768 8.73744 11.1768 8.26256 11.4697 7.96967Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.25 12.5C7.25 12.0858 7.58579 11.75 8 11.75H16C16.4142 11.75 16.75 12.0858 16.75 12.5C16.75 12.9142 16.4142 13.25 16 13.25H8C7.58579 13.25 7.25 12.9142 7.25 12.5Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M16.5303 11.9697C16.8232 12.2626 16.8232 12.7374 16.5303 13.0303L12.5303 17.0303C12.2374 17.3232 11.7626 17.3232 11.4697 17.0303C11.1768 16.7374 11.1768 16.2626 11.4697 15.9697L15.4697 11.9697C15.7626 11.6768 16.2374 11.6768 16.5303 11.9697Z' fill='currentColor')
            .about-section__img 
                img.doctor(src="./images/about.png", alt="")
                //- svg(xmlns='http://www.w3.org/2000/svg' width='453' height='446' viewBox='0 0 453 446' fill='none')
                //-     path(d='M226.5 446C220.46 446 215.93 444.513 212.91 441.54C209.89 437.972 208.38 433.215 208.38 427.268V424.592C208.38 321.631 123.603 238.164 19.026 238.164C18.731 238.164 18.4389 238.16 18.1497 238.153C8.41978 237.915 0 229.907 0 220.324C0 214.972 1.51 210.809 4.53 207.836C8.154 204.863 12.986 203.376 19.026 203.376C122.603 203.376 208.38 120.708 208.38 18.732C208.38 12.7854 209.89 8.32537 212.91 5.35204C215.93 1.78401 220.46 0 226.5 0C232.54 0 237.07 1.78401 240.09 5.35204C243.11 8.32537 244.62 12.7854 244.62 18.732C244.62 120.708 330.397 203.376 433.974 203.376C440.014 203.376 444.544 204.863 447.564 207.836C451.188 210.809 453 214.972 453 220.324C453 226.271 451.188 230.731 447.564 233.704C444.544 236.677 440.014 238.164 433.974 238.164C329.397 238.164 244.62 321.631 244.62 424.592V427.268C244.62 433.215 243.11 437.972 240.09 441.54C237.07 444.513 232.54 446 226.5 446Z' fill='currentColor')

                //- 336 75 77