section.article-section.section.section_py 
    .container 
        .article-section__inner-wrapper 
            .article-section__article 
                h3.article-section__title SEO-заголовок
                .article-section__text 
                    p 
                        | Комфорт и безопасность наших пациентов всегда являются нашим приоритетом при работе с нами. 
                        | Сотрудничая с лучшими медицинскими учреждениями Турции, мы предлагаем медицинские услуги мирового уровня по доступным ценам. 
                        | В то же время мы предлагаем эксклюзивные туристические возможности и возможности размещения, чтобы сделать путешествие наших пациентов незабываемым.
                    p 
                        | Как ваша компания, мы постоянно работаем над тем, чтобы максимально улучшить здоровье и благополучие наших пациентов. 
                        | Мы здесь, чтобы привести вас в более здоровое и счастливое будущее. 
                        | Мы с нетерпением ждем возможности поделиться с вами
                a.article-section__link(href="#")
                    svg(viewBox="0 0 24 24")
                        use(xlink:href="#eye")
                    span Читать полностью
            .article-section__img 
                img(src="./images/article.png", alt="")