mixin client-item(number)
    article.clients-section__client.client-item
        .client-item__inner-wrapper
            img(src="./images/client_0" + number + ".png", alt="")

section.clients-section.section.section_py
    .container
        .clients-section__header 
            h2.clients-section__title.section__title Наши клиенты
            .clients-section__swiper-buttons.swiper-buttons
                button.swiper-button-prev 
                    svg(viewBox='0 0 25 25')
                        use(xlink:href="#swiper-arrow")
                    span Назад
                button.swiper-button-next
                    span Далее
                    svg(viewBox='0 0 25 25')
                        use(xlink:href="#swiper-arrow")
            .swipe-icon
                svg(width='24' height='24' viewBox='0 0 24 24')
                    use(xlink:href="#swipe-pointer")
        .clients-section__body 
            .clients-section__swiper.swiper 
                .swiper-wrapper 
                    each num in [1, 2, 3, 4, 1, 2, 3, 4]
                        .swiper-slide 
                            +client-item(num)                        
                .clients-section__swiper-scrollbar.swiper-scrollbar
            
                    
    