section.contact-us-section 
    .container
        .contact-us-section__body 
            .contact-us-section__form-block.form-block
                .form-block__header 
                    h2.form-block__title 
                        | Ответим на все ваши вопросы, оставьте заявку и мы свяжемся с вами
                    p.form-block__subtitle
                        | Комфорт и безопасность наших пациентов всегда являются нашим приоритетом при работе с нами. 
                .form-block__body 
                    .form-block__page.form-block__page_one 
                        form.form-block__form.form(action="#" name="order-call") 
                            .form__control
                                input.form__input.form__input_required(type="text" id="name" name="name")
                                label.form__label(for="name") Ваше имя
                            .form__control
                                input.form__input.form__input_required(type="tel" id="phone" name="phone" autocomplete="off")
                                label.form__label(for="phone") Ваш телефон
                            button.form__submit(type="submit")
                                span Получить консультацию
                                .spinner
                            .form__agreement 
                                | Нажимая кнопку «получить консультацию», вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
                    .form-block__page.form-block__page_two
                        .form-block__thanks Спасибо, ваша заявка была получена  
.map-section
    #map(data-mark="55.7954692462696,49.10686513125719" data-center="55.79551291555022,49.10679244528347")
