mixin faq-item(title, text) 
    .faq-section__list-item.faq-item
        .faq-item__header 
            .faq-item__title= title
            button.faq-item__button(type="button")
        .faq-item__body 
            p.faq-item__text= text

section.faq-section.section.section_py
    .container
        h2.faq-section__title.section__title Отвечаем на вопросы наших пациентов
        .faq-section__body 
            .faq-section__list
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Что такое пластическая хирургия?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Какие процедуры пластической хирургии вы предлагаете?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Кто является подходящим кандидатом на плстическую хирургию?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Как проходит процесс восстановления после пластической операции?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Какова стоимость пластической операции?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                .faq-section__list-item.faq-item
                    .faq-item__header 
                        .faq-item__title Предлагаете ли вы услуги проживания после опрерации?
                        button.faq-item__button(type="button")
                    .faq-item__body 
                        p.faq-item__text Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций.
                -
                    var faqList = [
                        {
                            title: "Что такое пластическая хирургия?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                        {
                            title: "Какие процедуры пластической хирургии\&lt;br\&gt;вы предлагаете?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                        {
                            title: "Кто является подходящим кандидатом#{br}на плстическую хирургию?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                        {
                            title: "Как проходит процесс восстановления после пластической операции?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                        {
                            title: "Какова стоимость пластической операции?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                        {
                            title: "Предлагаете ли вы услуги проживания после опрерации?",
                            text: "Эстетическая хирургия включает в себя хирургические процедуры для улучшения внешнего вида или исправления деформаций."
                        },
                    ]
                //- each faqItem in faqList 
                //-     +faq-item(faqItem.title, faqItem.text)
            .faq-section__img 
                img(src="./images/faq.png", alt="")