section.hero-section
    .hero-section__container.container 
        .hero-section__inner-wrapper
            .hero-section__content 
                h1.hero-section__title Высококачественное#[br]лечение в&nbsp;столице туризма и&nbsp;медицины 
                button.hero-section__button.button(type="button")
                    span Записаться на консультацию
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M8.26884 3.49217C9.45176 3.00219 10.7196 2.75 12 2.75C14.5859 2.75 17.0658 3.77723 18.8943 5.60571C20.7228 7.43419 21.75 9.91414 21.75 12.5C21.75 15.0859 20.7228 17.5658 18.8943 19.3943C17.0658 21.2228 14.5859 22.25 12 22.25C10.7196 22.25 9.45176 21.9978 8.26884 21.5078C7.08591 21.0178 6.01108 20.2997 5.10571 19.3943C4.20034 18.4889 3.48216 17.4141 2.99217 16.2312C2.50219 15.0482 2.25 13.7804 2.25 12.5C2.25 11.2196 2.50219 9.95176 2.99217 8.76884C3.48216 7.58591 4.20034 6.51108 5.10571 5.60571C6.01108 4.70034 7.08591 3.98216 8.26884 3.49217ZM12 4.25C10.9166 4.25 9.8438 4.46339 8.84286 4.87799C7.84193 5.2926 6.93245 5.90029 6.16637 6.66637C5.40029 7.43245 4.7926 8.34193 4.37799 9.34286C3.96339 10.3438 3.75 11.4166 3.75 12.5C3.75 13.5834 3.96339 14.6562 4.37799 15.6571C4.7926 16.6581 5.40029 17.5675 6.16637 18.3336C6.93245 19.0997 7.84193 19.7074 8.84286 20.122C9.8438 20.5366 10.9166 20.75 12 20.75C14.188 20.75 16.2865 19.8808 17.8336 18.3336C19.3808 16.7865 20.25 14.688 20.25 12.5C20.25 10.312 19.3808 8.21354 17.8336 6.66637C16.2865 5.11919 14.188 4.25 12 4.25Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 7.96967C11.7626 7.67678 12.2374 7.67678 12.5303 7.96967L16.5303 11.9697C16.8232 12.2626 16.8232 12.7374 16.5303 13.0303C16.2374 13.3232 15.7626 13.3232 15.4697 13.0303L11.4697 9.03033C11.1768 8.73744 11.1768 8.26256 11.4697 7.96967Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.25 12.5C7.25 12.0858 7.58579 11.75 8 11.75H16C16.4142 11.75 16.75 12.0858 16.75 12.5C16.75 12.9142 16.4142 13.25 16 13.25H8C7.58579 13.25 7.25 12.9142 7.25 12.5Z' fill='currentColor')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M16.5303 11.9697C16.8232 12.2626 16.8232 12.7374 16.5303 13.0303L12.5303 17.0303C12.2374 17.3232 11.7626 17.3232 11.4697 17.0303C11.1768 16.7374 11.1768 16.2626 11.4697 15.9697L15.4697 11.9697C15.7626 11.6768 16.2374 11.6768 16.5303 11.9697Z' fill='currentColor')
            .hero-section__img
                img(src="./images/hero_1.png", alt="doctor")