mixin review-item(author, text)
    article.reviews-section__review.review-item
        h4.review-item__author= author
        p.review-item__text= text
        button.review-item__more(type="button") 
            svg(viewBox="0 0 24 24")
                use(xlink:href="#eye")
            span Читать полностью

section.reviews-section.section_py
    .container
        .reviews-section__header 
            h2.reviews-section__title.section__title отзывы наших пациентов
            .reviews-section__swiper-buttons.swiper-buttons
                .swiper-button-prev 
                    svg(viewBox='0 0 25 25')
                        use(xlink:href="#swiper-arrow")
                    span Назад
                .swiper-button-next
                    span Далее
                    svg(viewBox='0 0 25 25')
                        use(xlink:href="#swiper-arrow")
        .reviews-section__body 
            .reviews-section__swiper.swiper 
                .swiper-wrapper 
                    - 
                        var reviewList = [
                            { 
                                author: "Ольга Кириллова",
                                text: "Исчисление предикатов амбивалентно индуцирует структурализм. Мир, как следует из вышесказанного, рассматривается из ряда вон выходящий знак. Согласно предыдущему, смысл жизни порождает и обеспечивает из ряда вон выходящий дедуктивный метод, открывая новые горизонты."
                            },
                            { 
                                author: "Ольга Кириллова",
                                text: "Исчисление предикатов амбивалентно индуцирует структурализм. Мир, как следует из вышесказанного, рассматривается из ряда вон выходящий знак."
                            },
                        ]
                    - reviewList.push(...reviewList)
                    - reviewList.push(...reviewList)
                    - reviewList.push(...reviewList)
                    each review in reviewList 
                        .swiper-slide 
                            +review-item(review.author, review.text)
                .reviews-section__swiper-scrollbar.swiper-scrollbar
                //- .reviews-section__swiper-buttons.swiper-buttons.swiper-buttons_mobile
                //-     .swiper-button-prev 
                //-         span Назад
                //-     .swiper-button-next
                //-         span Далее
            
                    
    