.faq-section {
    padding-bottom: 0;
    &__title {
        max-width: 48.75rem;
    }
    &__body {
        display: flex;
        margin: 4rem 0 0;
        @include min_desktop {
            margin-right: -1.875rem;
            overflow: hidden;
        }
    }
    &__list {
        background-color: $white;
        border-radius: 2.5rem;
        align-self: flex-start;
        flex-basis: 61.5625rem;
        margin: 0 0 5.875rem;
        padding: 0 1.875rem;
        min-width: 800px;
    }
    &__list-item {
        & + & {
            border-top: 1px dashed rgba($color: $black, $alpha: 0.2);
        }
    }
    &__img {
        align-self: flex-end;
        flex: 1 0 750px;
        // flex: 1 1 auto;
        position: relative;
        &:before {
            background-image: url("../images/faq_curve.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &:after {
            background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, $background-color 100%);
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: calc(290 / 942 * 100%);
            z-index: 2;
        }
        img {
            margin-left: 4.0625rem;
            @include adaptive_value(margin-left,0, 65, 1280, 1920);
            width: calc(751 / 905 * 100%);
            height: auto;
            vertical-align: top;
        }
    }
    @include desktop {
        padding-bottom: 4.375rem;
        &__body { 
            flex-direction: column-reverse;
        }
        &__list {
            flex-basis: auto;
            margin-bottom: 0;
            min-width: 0;
        }
        &__img {
            display: flex;
            justify-content: center;
            align-self: stretch;
            flex-basis: auto;
            margin-left: -1.875rem;
            margin-right: -1.875rem;
            height: 40.625rem;
            img {
                margin-left: 0;
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    @include gap {
        border-bottom: 1px solid $border-color;
        &__img {
            height: 28.125rem;
        }
    }
    @include phone {
        &__list {
            border-radius: 1.25rem;
            padding-left: 0;
            padding-right: 0;
        }
        &__img {
            margin-right: -1rem;
            margin-left: -1rem;
        }
    }
}

.faq-item {
    padding: 2.5rem;
    &__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1.25rem;
        @include ishover {
            .faq-item__button {
                opacity: 1;
            }
        }
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__button {
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        padding: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.7;
        transition: opacity 0.15s ease 0s;
        &:after, &:before {
            background-color: $black;
            border-radius: 0.625rem;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 0.5rem);
            height: 0.09375rem;
            transition: transform 0.3s ease 0s;
            transform-origin: center;
        }
        &:after {
            transform: translate(-50%, -50%);
        }
        &:before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
    &__body {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease 0s;
    }
    &__text {
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 1.25rem 0 0;
        opacity: 0.7;
    }
    &_open {
        .faq-item__button {
            &:after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:before {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }
    @include gap {
        padding: 1.875rem;
    }
    @include phone {
        &__header {
            gap: 0.625rem;
        }
        &__title {
            font-size: 1.125rem;
        }
        &__text {
            font-size: 0.875rem;
            padding-top: 0.625rem;
        }
    }
    @media screen and (max-width: 480px) {
        padding: 1.25rem;
    }
}