.projects-section {
    padding-bottom: 6.35rem;
    &__title {
        font-size: 2.625rem;
        @include adaptive_value(font-size, 26, 42, 576, 1920);
        font-weight: 700;
        text-transform: uppercase;
    }
    &__body {
        margin: 3.125rem 0 0;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 2.5rem
    }
    &__project {
        flex-basis: calc((100% - 3.75rem) / 4)
    }
    &__button {
        border: 1px solid $black;
        border-radius: 6.25rem;
        display: block;
        margin: 3.125rem auto 0;
        padding: 0.875rem 2.5rem;
        width: fit-content;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
        @include ishover {
            background-color: $black;
            color: $white
        }
    }
    @include tablet {
        padding-bottom: 7.25rem;
        &__project {
            flex-basis: calc((100% - 2.5rem) / 3);
        }
    }
    @include gap {
        &__body {
            margin-top: 2rem;
        }
    }
    @include phone {
        padding-bottom: 3.125rem;
        &__title {
            font-weight: 500;
        }
        &__body {
            margin-top: 1.25rem;
        }
        &__grid {
            column-gap: 0.8375rem;
            row-gap: 1.25rem;
        }
        &__project {
            flex-basis: calc(50% - 0.4375rem);
        }
        &__button {
            font-size: 0.875rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem
        }
    }
}