.reviews-section {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
    }
    &__body {
        margin-top: 6.35rem;
        @include adaptive_value(margin-top, 20, 100, 576, 1920);
    }
    &__review {
        height: 100%;
    }
    .swiper-wrapper {
        align-items: stretch;
    }
    .swiper-slide {
        height: auto;
    }
}

.review-item {
    background-color: rgba($color: $green, $alpha: 0.08);
    border: 1px solid rgba($color: $green, $alpha: 0.16);
    border-radius: 1.25rem 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 2.5rem;
    &__author {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
    }
    &__text {
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 1.5;
    }
    &__more {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        svg {
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0.5;
        }
        span {
            font-size: 1.125rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    @include gap {
        padding: 1.875rem;
    }
    @include phone {
        border-radius: 0.625rem 1.875rem;
        gap: 0.625rem;
        padding: 1.25rem;
        &__author {
            font-size: 1.125rem;
        }
        &__text {
            font-size: 0.875rem;
        }
        &__more {
            span {
                font-size: 0.875rem;
            }
        }
    }
}