@font-face {
    font-family: "Nunito";
    font-style: normal; 
    font-weight: 300;
    src: local("Nunito"), url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff")
}

@font-face {
    font-family: "Nunito";
    font-style: normal; 
    font-weight: 400;
    src: local("Nunito"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff")
}

@font-face {
    font-family: "Nunito";
    font-style: italic; 
    font-weight: 400;
    src: local("Nunito"), url("../fonts/Nunito-Italic.woff2") format("woff2"), url("../fonts/Nunito-Italic.woff") format("woff")
}

@font-face {
    font-family: "Nunito";
    font-style: normal; 
    font-weight: 500;
    src: local("Nunito"), url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff")
}

@font-face {
    font-family: "Nunito";
    font-style: normal; 
    font-weight: 600;
    src: local("Nunito"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff")
}

@font-face {
    font-family: "Nunito";
    font-style: normal; 
    font-weight: 700;
    src: local("Nunito"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff")
}

@font-face {
    font-family: "Roboto";
    font-style: normal; 
    font-weight: 400;
    src: local("Nunito"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff")
}

@font-face {
    font-family: "Jura";
    font-style: normal; 
    font-weight: 700;
    src: local("Nunito"), url("../fonts/Jura-Bold.woff2") format("woff2"), url("../fonts/Jura-Bold.woff") format("woff")
}