extends templates/layout

block head
    title О компании
    link(rel="stylesheet", href="css/about-page.min.css")
block content 
    .container 
        nav.page__breadcrumbs.breadcrumbs 
            ol.breadcrumbs__list 
                li.breadcrumbs__item 
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item 
                    a.breadcrumbs__link(href="#") О компании   
    .container
        h1.page__title О компании
        .page__content
            p.page__text.page__text_long.text
                | Наша компания сотрудничает с опытными и опытными специалистами в области здравоохранения. 
                | Мы гордимся тем, что помогаем нашим пациентам восстановить здоровье и жить лучше, предлагая решения, соответствующие их потребностям.
            h2 Внутренний заголовок страницы H2
            p.page__text.page__text_short.text
                | Комфорт и безопасность наших пациентов всегда являются нашим приоритетом при работе с нами. 
                | Сотрудничая с лучшими медицинскими учреждениями Турции, мы предлагаем медицинские услуги мирового уровня по доступным ценам.
            h3 Большой заголовок H3
            blockquote.quote 
                p.quote__text 
                    | Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. 
                    | Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
                footer.quote__author © Алексей Кизляр, руководитель отдела маркетинга
            p.page__text.page__text_md
                | #[em Подтекст, если уловить хореический] ритм или аллитерацию на "р", иллюстрирует культурный размер. 
                | #[del Голос персонажа интуитивно понятен]. Субъективное восприятие вразнобой нивелирует дольник. 
                | #[b Ритмический рисунок], чтобы уловить хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
            .page__img 
                img(src="./images/about-page_01.png", alt="")
            h4 Подзаголовок H4
            ul 
                li Жирмунский, однако, настаивал, что синхрония доступна. 
                li Анжамбеман семантически отражает хорей. 
                li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
            ol
                li Жирмунский, однако, настаивал, что синхрония доступна. 
                li Анжамбеман семантически отражает хорей. 
                li Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.
    section.about-section.section.section_py
        .about-section__container.container 
            .about-section__wrapper
                .about-section__content 
                    .about-section__label Директор компании «sian health group» 
                    h3.about-section__paragraph Андрей Прокофьев
                    .about-section__desc
                        p 
                            | Наша миссия — предоставить вам медицинские услуги мирового уровня для улучшения и качества жизни наших пациентов,
                            | а также максимизировать удовлетворенность наших пациентов, предоставляя им безопасные, высококачественные и персонализированные варианты лечения. 
                        p 
                            | Являясь лидером в области оздоровительного туризма, мы фокусируемся на потребностях и ожиданиях наших пациентов,
                            | используя наш клиентоориентированный подход, придерживаемся этических ценностей и действуем с осознанием социальной ответственности.
                .about-section__img 
                    img.doctor(src="./images/about-page_02.png", alt="")
    include ./includes/page-blocks/advantage.pug
    include ./includes/page-blocks/contact-us.pug
block scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src='https://api-maps.yandex.ru/2.1/?apikey=4f70d3b1-f6e2-4ee2-bf65-83f325f91da4&load=package.standard&lang=en-UA' type='text/javascript')
    script(src="js/app.min.js") 