extends templates/layout

mixin project-item(project)
    article.projects-section__project.card
        .card__img 
            img(src=project.img, alt="")
        h4.card__title= project.name
        p.card__desc 
            | Описание проекта, которое умещается в 3 строки и раскрывает всю основную суть кейса, мотивируя кликнуть на блок

block head
    title Реализованные проекты
    link(rel="stylesheet", href="css/projects-page.min.css")
block content 
    .container
        nav.page__breadcrumbs.breadcrumbs 
            ol.breadcrumbs__list 
                li.breadcrumbs__item 
                    a.breadcrumbs__link(href="/") Главная
                li.breadcrumbs__item 
                    a.breadcrumbs__link(href="#") Реализованные проекты   
        .page__block
            h1.page__title-h1 Реализованные проекты
            section.about-section.section
                .projects-section__body 
                    .projects-section__grid 
                        -
                            var projectsList = [
                                { name: "Трансплантация бороды", img: "./images/service_01.png" },
                                { name: "Ласик хирургия глаза", img: "./images/service_02.png" },
                                { name: "Бихэктомия", img: "./images/service_03.png" },
                                { name: "Трансплантация бровей", img: "./images/service_04.png" },
                                { name: "Трансплантация волос", img: "./images/service_05.png" },
                                { name: "Вся хиругия желудка", img: "./images/service_06.png" },
                                { name: "Желудочное шунтирование", img: "./images/service_07.png" },
                                { name: "Эстетика зубного эмпланта", img: "./images/service_08.png" },
                            ]
                        each projectItem in projectsList   
                            +project-item(projectItem)
                    .projects-section__button.button Все проекты
    include ./includes/page-blocks/advantage.pug
    include ./includes/page-blocks/contact-us.pug
block scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src='https://api-maps.yandex.ru/2.1/?apikey=4f70d3b1-f6e2-4ee2-bf65-83f325f91da4&load=package.standard&lang=en-UA' type='text/javascript')
    script(src="js/app.min.js") 