@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "mixins/breakpoints.scss";
@import "mixins/fonts.scss";
@import "mixins/media.scss";
@import "base.scss";

@import "components/button.scss";
@import "components/logo.scss";
@import "components/popup.scss";
@import "components/breadcrumbs.scss";
@import "components/card.scss";

@import "page.scss";

@import "modules/header.scss";
@import "modules/about-section.scss";
.about-section {
    &__img {
        &:before {
            background-image: url("../images//about-page_figure.svg");
            top: 20% !important;
            left: -5%;
            transform: rotate(20deg);
            .page & {
                right: 0;
            }
        }
    }
    @include desktop {
        &__content {
            margin-bottom: -3rem;
        }
    }
    @include tablet {
        &__img {
            margin-right: -8% !important
        }
    }
    @include phone {
        &__content {
            margin-bottom: -2.5rem;
        }
        &__img {
            &::before {
                left: 0;
            }
        }
    }
}

@import "modules/projects-section.scss";
@import "modules/advantage-section.scss";

.advantage-section {
    margin-bottom: -1rem;
    &:after {
        background-image: url("../images/advantage_line_grey.svg");
        bottom: 0.9375rem;
        opacity: 1;
    }
}
@import "modules/contact-us-section.scss";
@import "modules/footer.scss";